
 body{
  overflow-x: hidden;
 }
 html{
  scroll-behavior: smooth;
 }
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

#food-menu img, #accommodation img{
  transition: all 1s;
  cursor: pointer;
}
#food-menu img:hover,  #accommodation img:hover{
  transform: scale(1.05);
}